<section>
  <h1>Versão <%= @versao.ver_banco%> </h1>
</section>

<% @usuarios_itens.each do |k, v| %>
  <section>
    <h1><%= k %></h1>
  </section>
  <%= render v  %>
<% end %>

<section>
  <h1>Fim</h1>
    <h2>Abraço e Bom Final de Semana!</h2>
</section>