<div class="reveal">
	<div class="slides">
		
		<section>
			<h1>Dia De Treinamento</h1>
			<h3>Teste dos slides</h3>
			<p>
				<small>
					Created by 
						<a href="https://twitter.com/rodrigorosa">@rodrigorosa</a> |
						<a href="https://twitter.com/douglaslise">@douglaslise</a> |
						<a href="https://twitter.com/matenava">@matenava</a>					
				</small>
			</p>
		</section>

		<section>
			<h2>Slide 2</h2>
			<p>
				Alguma coisa sobre o slide2
			</p>
		</section>

		<section>
			<h2>Slide 3</h2>
			<p>
				Alguma coisa sobre o slide3
			</p>
		</section>

		<section>
			<h2>Slide 4</h2>
			<p>
				Alguma coisa sobre o slide4
			</p>
		</section>		
	</div>
</div>